aiohappyeyeballs
aiohttp
aiosignal
antlr4-python3-runtime==4.12
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
datasets
dill
filelock
frozendict
frozenlist
fsspec
gdown
huggingface-hub
humanize
idna
joblib
mpmath
multidict
multiprocess
numpy
packaging
pandas
propcache
pyarrow
PySocks
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
six
soupsieve
sympy
TexSoup
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
xxhash
yarl
